body
{
    margin: 0;
    padding: 0;
}
.header
{
        position: relative;
        background-color: #e5e5e5;
    
    img
    {
        margin: 20px;
    }
    a[href = "index.html"]
    {
        position: absolute;
        font-size: 20px;
        top: 8px;
        right: 16px;
    }
}

.header1
{
    color: #d93025;
    margin: 25px 35px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

hr
{
    padding: 0;
    margin: 0;
    border: 1px solid #ebebeb;
}

form
{
    margin-left: 50px;
}

%Column /*column element*/
{
    height: 42px;
    padding: 10px;
    color: rgb(68, 67, 67);
    font-family: sans-serif;
}
.leftCol
{
    @extend %Column;
    font-size: 14px;
    width: 180px;
}
#col1
{
    font-size: 20px;
}
.middleCol
{
    @extend %Column;
    width: 500px;
    input
    {
        width: 100%;
        border-radius: 1px;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        font-size: 13px;
        height: 25px;
        padding: 1px 8px;
    }
    input:focus
    {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        border: 1px solid #4d90fe;
        outline: none;
    }
}

.rightCol
{
    @extend %Column;
    font-size: 12px;
    width: 400px;
    padding-left: 30px;
}
#col3
{
    font-size: 13px;
}

input[type = "submit"]
{
    padding: 0 12px;
    margin: 10px 0;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #3079ed;
    color: #fff;
    background-color: #4d90fe;
    
}

input[type = "submit"]:hover
{
    background-color: #3079ed;
}